<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"></setting>
	</settings>


	<typeAliases>
		<typeAlias type="com.kh.jsh.board.model.vo.Board" alias="board" />
	</typeAliases>
	
	
	<mappers>
		<mapper resource="mappers/board-mapper.xml" />
	</mappers>

</configuration>
